{% extends 'base.html.twig' %}

{% block title %}Page d'accueil{% endblock %}

{% block body %}

    <div class="container">
        <h2> MON ESPACE CLIENT </h2>
        <h3>Bienvenue dans votre espace client. </h3>
        <h4> Cet espace vous est dédié. Profitez de tous vos services en ligne :</h4>
        <ul>
            <li> Consultez vos tarifs</li>
            <li> Passez vos commandes en direct</li>
            <li> Suivez leur état d'avancement</li>
            <li> Accédez aux offres promotionnelles en cours (en cours de développement)</li>
        </ul>
    </div>

{% endblock %}
