<header>
    <div class="header__top">
        <div class="container">
            <div class="row">
                <div class="col-3 col-lg-5 col-xl-4">
                </div>
                <div class="col-6 col-lg-2 col-xl-4">
                    {% include "components/logo.twig" %}
                </div>
                <div class="col-3 col-lg-5 col-xl-4">
                    {% include "components/navbar-tools.twig" %}
                </div>
            </div>
        </div>
    </div>
    <div class="header__nav">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    {% include "components/navbar.twig" %}
                </div>
            </div>
        </div>
    </div>
</header>
