{% extends 'base.html.twig' %}

{% block title %}Coedi Sothys - Vérifier vos email{% endblock %}

{% block body %}

    <section class="section section--checkout section--checkout-connexion">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-9">
                    <div class="row justify-content-center">
                        <div class="col-12">
                            <div class="title--border ">
                                <h2>Demande prise en compte</h2>
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="form--login-register-wrapper">
                                <h4> Veuillez vérifier votre messagerie! </h4>
                                <p> Un e-mail a été envoyé. Veuillez cliquer sur le lien inclus pour réinitialiser votre mot de passe.
                                </p>
                                <p>Ce lien expirera dans {{ resetToken.expirationMessageKey|trans(resetToken.expirationMessageData, 'ResetPasswordBundle') }}.</p>
                                <a class="btn btn-primary btn-sm mt-3" href="{{ path('app_login') }}">
                               <span class="button button--primary-fill button--submit" style="margin: 0 auto;">
                    <input type="submit" value="Page d'accueil">
                               </span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

{% endblock %}
