<table class="table-responsive cart--table-totals">
    <tbody>
    <tr class="cart-subtotal">
        <th>{{ 'Subtotal' | trans }}</th>
        <td></td>
    </tr>
    <tr class="order-total">
        <th>{{ 'Total'| trans }} </th>
        <td>
            <span class="price total" id="priceTotal">{{ total }} €</span>
        </td>
    </tr>
    </tbody>
</table>
