<div class="col-4 col-md-4">
    <ul class="compte__menu">
        <li>
            <a class="active" href="{{ path('app_account') }}">
                {{ 'my.account' | trans }}
            </a>
        </li>
        <li>
            <a class="active" href="{{ path('app_order') }}">
                {{ 'my.orders' | trans }}
            </a>
        </li>
    </ul>
</div>
