<nav class="navbar navbar--fixed js-navbar">
    <div class="navbar__wrapper">
        <div class="navbar__collapse">
            <div class="d-flex d-lg-none navbar__header">
                <button class="navbar__toggler js-navbar-toggler">
                    <i class="icon icon-close">
                        <span class="hidden">fermer</span>
                    </i>
                </button>
                <ul class="lang">
                    <li>
                        <a href="#" title="Choix de la langue en Francais" class="active">FR</a>
                    </li>
                    <li>
                        <a href="#" title="Choix de la langue en Anglais">EN</a>
                    </li>
                </ul>
            </div>
            <ul class="navbar__menu navbar__menu--desktop">
                <li class="menu-item menu-item--has-child">
                    <a href="test">Catégorie 1</a>
                    <div class="menu-item__submenu">
                        <div class="container">
                            <div class="row">
                                <div class="col-12 col-lg-3">
                                    <ul class="menu-item__submenu--large">
                                        <li class="menu-item__submenu-item">
                                            <a href="/pages/soins/subcategory1.html" class="nav-link">Sous-catégorie 1</a>
                                        </li>
                                        <li class="menu-item__submenu-item">
                                            <a href="/pages/soins/subcategory1.html" class="nav-link">Sous-catégorie 2</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
                <li class="menu-item menu-item--has-child">
                    <a href="test">Catégorie 2</a>
                    <div class="menu-item__submenu">
                        <div class="container">
                            <div class="row">
                                <div class="col-12 col-lg-3">
                                    <ul class="menu-item__submenu--large">
                                        <li class="menu-item__submenu-item">
                                            <a href="/pages/soins/subcategory1.html" class="nav-link">Sous-catégorie 3</a>
                                        </li>
                                        <li class="menu-item__submenu-item">
                                            <a href="/pages/soins/subcategory1.html" class="nav-link">Sous-catégorie 4</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</nav>
