{% extends 'base.html.twig' %}

{% block title %}Coedi Sothys - Mes commandes{% endblock %}

{% block body %}

    <div id="content" role="main">
        <section class="section section--compte">
            <div class="container">
                <div class="row">
                    <div class="col-12 aos-init aos-animate" data-aos="fade-up">
                        {% include 'flash_messages.html.twig' %}
                        <div class="title--border title--border--margin">
                            <h2>Mes commandes</h2>
                        </div>
                    </div>
                    {% include 'components/nav_customer.html.twig' %}
                    <div class="col-12 col-md-8">
                        <table class="compte__commandes table-responsive">
                            <thead>
                            <tr>
                                <th>Réf commande</th>
                                <th>Date</th>
                                <th>Prix total</th>
                                <th>État</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for order in orders %}
                                <tr>
                                    <td class="ref">
                                        <a href="{{ path('app_order_item_id' , { 'id': order.idOrderX3 }) }}">#{{ order.idOrder  }} </a>
                                    </td>
                                    <td class="date">{{ order.dateOrder|date }}</td>
                                    <td class="price">?? €</td>
                                    <td class="status">
                                        <span class="status status--completed">{{ order.idStatut }} A DEFINIR ?</span>
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </section>
    </div>

{% endblock %}
